<<<<<<< HEAD


.simple-rating{
}

.simple-rating i{
	color: #f5ba00;
	display: inline-block;
	padding: 1px 2px;
	cursor: pointer;
=======


.simple-rating{
}

.simple-rating i{
	color: #f5ba00;
	display: inline-block;
	padding: 1px 2px;
	cursor: pointer;
>>>>>>> 1200272d778a2826f908f04c7e5060dc0a04f291
}